<h1>New Addition</h1>
<form action="/addition/results">
<label for="first_number">Add this:</label>
<input id="first_number" name="first_number">
<label for="second_number">to this:
<input id="second_number" name="second_number"></label>
<button>Add!</button>
</form>
