<h1>New Multiplication</h1>
<form action="/multiplication/results">
<label for="first_number">Multiply this:</label>
<input id="first_number" name="first_number">
<label for="second_number">by this:</label>
<input id="second_number" name="second_number">
<button>Multiply!</button>
</form>
