<h1>Street address to coordinates calculation</h1>
<form action="/street_to_coords/results">
<label for="street_address">Street Address</label>
<input id="street_address" name="street_address">

<button>Lookup Coordinates</button>
</form>
