<h1>Streets to coordinates results</h1>
<dl>
  <dt>Street address</dt>
  <dd><%= @address %></dd>
  <dt>Latitude</dt>
  <dd><%= @latitude %></dd>
  <dt>Longitude</dt>
  <dd><%= @longitude %></dd>
</dl>
<a href="/streets_to_coords/new">Lookup another address</a>
